table {
    border:none;
    border-collapse: collapse;
    width: 100%;
    font-size: 32px;
    font-family: sans-serif;
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table tr:first-child {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

table tr:last-child {
    border-bottom: 1px solid #000;
}

#bus-stop-id-input {
    width: 100%;
    height: 132px;
    font-size: 120px;
    margin: 10px 0 20px 0;
}

#bus-stop-id-label {
    font-size: 32px;
    font-family: sans-serif;
}