<!DOCTYPE html>
<html>
    <head>
        <title>Check Bus Arrival Time</title>
        <link rel="stylesheet" href="static/index.css">
    </head>
    <body>
        <label id="bus-stop-id-label">Bus Stop Number
            <input id="bus-stop-id-input" type="text" pattern="\d{5}" autofocus>
        </label>
        <table id="arrival-table">
            <tr>
                <td>Service No.</td>
                <td>Next Bus</td>
                <td>2nd Next Bus</td>
                <td>3rd Next Bus</td>
                <td>Status</td>
            </tr>
        </table>
        <script src="static/checkArrival.js"></script>
    </body>
</html>